
.image-container {
    position: relative;
}

.card-img {
    border-radius: 1rem;
}

.popular-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #F6C768;
    color: #1B1D1F;
    padding: 0.313rem 0.625rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
}

.container-label-and-price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > :last-child {
        background-color: #BEE3CC;
        padding: 0.10rem 0.5rem;
        border-radius: 0.25rem;
        color: #111315;
        font-weight: 600;
    }
}

.small-text,
.small-grey-text {
    font-size: 0.875rem;
}

.small-grey-text {
    color: #6F757C;
    font-weight: 600;
}

.price-text {
    font-size: 0.75rem;
}

.ratings-container {
    display: flex;
    justify-content: space-between;
}

.rate-and-votes {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.sold-out-text {
    color: #ED735D;
    font-weight: 600;
    font-size: 0.75rem;
}
