---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description Project" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

  html {
    font-family: "DM Sans", sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    color: #fef7ee;
  }
  h1,
  p {
    margin: 0;
  }
  button {
    border: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    background-color: transparent;
    color: #fef7ee;
    padding: 0.65rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
</style>
