.collection-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 5rem 0;
    height: fit-content;
    border-radius: 0.75rem;
    align-items: center;
    background-color: #1B1D1F;

    .cards-container {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
    }

    .body-container {
        width: 30rem;
        text-align: center;
    }


    @media (width <=1024px) {
        .cards-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (width <=730px) {
        .cards-container {
            grid-template-columns: repeat(1, 1fr);
        }

        .body-container {
            width: 19.5rem;
            padding: 0px 1rem;
            text-align: center;
        }
    }

    .buttons-container {
        display: flex;
        gap: 1rem;
    }

    .button-filled {
        background-color: #6f757c;
    }

    .title-container {
        position: relative;
        text-align: center;
        z-index: 1;
    }

    .heading {
        font-size: 2rem;
        padding-bottom: 0.25rem;
    }

    .body {
        font-size: 1rem;
        color: #6F757C;
    }

    .signature {
        position: absolute;
        top: -60px;
        right: -10px;
        opacity: 0.8;
        z-index: -1;
    }
}